<div class="row">
<div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="userName">
          <!--<span *ngIf="!registrationForm.get('userName').valid && registrationForm.get('userName').touched" class="error-bock">-->
          <span *ngIf="!getUserName.valid && (getUserName.touched || userSubmitted)" class="error-bock">
            Pleasse provide name
          </span>
        </div>


        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span *ngIf="!getEmail.valid && (getEmail.touched || userSubmitted)" class="error-bock">
            <span *ngIf="getEmail.hasError('required')" class="error-bock">
              Pleasse provide email
            </span>
            <span *ngIf="getEmail.hasError('email')">
              Pleasse provide valid email
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="text" class="form-control" formControlName="password">
          <span *ngIf="!getPassword.valid && (getPassword.touched || userSubmitted)" class="error-bock">
            <span *ngIf="getPassword.errors['required']">
              Pleasse provide password
            </span>
            <!--<span *ngIf="getPassword.errors.minlength">
              Pleasse provide password more than 8 chars
            </span>-->
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="text" class="form-control" formControlName="confirmPassword">
          <span *ngIf="!getCPassword.valid && (getCPassword.touched || userSubmitted)" class="error-bock">
            <span *ngIf="getCPassword.errors['required']">
              Pleasse provide C password
            </span>
          </span>
          <span *ngIf="registrationForm.hasError('notmatched') && getCPassword.valid">
            C password not mathed
          </span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile">
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
      </form>
        Form Values: {{registrationForm.value | json}}<br/>
        Form Status: {{registrationForm.valid}}
    
    </div>
  </div>
</div>
</div>
